@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,900;1,300;1,400&family=Parisienne&display=swap');

:root {
  --blanco: #fffefa;
  --dorado: #ffcf40;
  --magenta: #ee82ee;
  --turquesa: #40e0e0;
  --cursiva: 'Parisienne', 'Brush Script MT', cursive;
  --textos: 'Merriweather', Georgia, serif;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #faefe1;
}

::selection {
  background-color: var(--dorado);
  color: #130808;
}

h1,
h2,
h3,
h4 {
  font-family: var(--cursiva);
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: var(--textos);
  font-weight: 400;
  font-style: normal;
}

a,
a:link {
  color: var(--blanco);
  text-decoration: none;
  font-style: italic;
  border-bottom: 1px dotted;
  transition: all 0.25s ease-out;

  &:hover {
    opacity: 0.7;
  }
}

.fuenteNegrita {
  font-weight: 900;
}

.fuenteDelgada {
  font-weight: 300;
  font-size: 0.85em;
}

// Puede ser para los pesos 300 y 400
.fuenteItalica {
  font-style: italic;
}

.textoDorado {
  color: var(--dorado);
}

.textoDoradoOscuro {
  color: #867b57;
}

.textoTurquesa {
  color: var(--turquesa);
}

.textoMagenta {
  color: var(--magenta);
}

#tarjeta {
  position: absolute;
  width: 90%;
  max-width: 550px;
  background-color: #c90e56;
  color: var(--blanco);
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  font-size: 1.3em;
  padding-bottom: 40px;
  z-index: 2;

  h2 {
    font-size: 1.8em;
    text-align: center;
    padding: 0px 20px;
  }

  p {
    padding: 0px 20px;
    font-size: 0.85em;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    border: solid 2px var(--dorado);
    pointer-events: none;
  }

  &::before {
    left: -20px;
    width: calc(100% + 40px);
    height: 100%;
  }

  &::after {
    top: -20px;
    width: 100%;
    height: calc(100% + 40px);
  }
}

.fondoVideo {
  width: 100vw;
  height: 100vh;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}

.textos {
  z-index: 1;
  text-align: center;
  position: relative;
  font-size: 2em;
}

#reproducir {
  width: 5rem;
  height: 5rem;
  background: var(--dorado);
  border-radius: 50%;
  transition: all 500ms ease-in-out;
  cursor: pointer;
  position: relative;

  &:hover {
    transform: scale(1.1);
  }
}

.iconoReproducir {
  position: absolute;
  background: white;
  border-radius: 50%;
  box-shadow: 0 3px 24px rgba(black, 0.3);
  transition: transform 350ms ease;
  pointer-events: none;
  left: 50%;

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-35%, 80%);
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 20px solid var(--blanco);
    border-bottom: 15px solid transparent;
  }
}

.oculto {
  display: none;
}

#fiesta {
  position: relative;
  z-index: 9;
  pointer-events: none;
}

.columnas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ver {
  font-size: 0.7em;
  margin-left: 8px;
}

.mensaje {
  font-family: var(--cursiva);
  font-size: 3em;
  z-index: 9;
  position: absolute;
  padding: 1em 20px;
  text-align: center;
  opacity: 0;
  transition: all 1s ease-in-out;
  width: 100vw;
  pointer-events: none;

  &.visible {
    opacity: 1;
  }
}
